{% load static %}
<div class="sidenav">
    <a id="" href="#" onclick="" style="color:white; pointer-events: none; cursor: default; margin-left:-10px;">
        <img src="{% static 'images/meercat_logo_reverse.png' %}" width="36px"/> MeerCAT
    </a>

    <!-- TODO: Show login button/link if not logged in -->

        <p class="text-white">Logged in as <br/> 
        {% if user.profile.gh_login %}
            {{ user.profile.gh_login }}</p>
        {% else %}
            {{ user.username }}</p>
        {% endif %}

    <br/>

    <a id="" href="/" onclick="">Home</a>
    <a id="" href="." onclick="">About</a>
    <!--a id="" href="." onclick="">Branches</a-->

    <!-- TODO: These should only show if user is logged in -->
    
    <a id="" href="/dashboard/" onclick="">PR Assistant</a>
    <a href="{% url 'subscriptions' %}">Subscriptions</a>

    <br/>

    <div class="dashboard_hiding_for_now" style="display:none;">
        <a id="button1" href="#">Grid On</a>
        <a id="button2" href="#">Grid Off</a>
        <a id="button3" href="#">Display LOCCs</a>
        <a id="button4" href="#">Display Commits</a>
    </div>

    <!-- TODO: Only show logout if user is logged in -->

    <a href="{% url 'logout' %}" class="mt-5 d-inline-box">Log out</a>
</div>