{% load static %}
<div class="sidenav">
    <a id="" href="#" onclick="" style="color:white; pointer-events: none; cursor: default; margin-left:-10px;">
        <img src="{% static 'images/meercat_logo_reverse.png' %}" width="36px"/> MeerCat
    </a>

    {% if user.is_authenticated %}
        <p class="text-white">Logged in as <br/> 
            {% if user.profile.gh_login %}
                {{ user.profile.gh_login }}
            {% else %}
                <span style="font-size:11pt">{{ user.username }}</span>
            {% endif %}
        </p>
    {% endif %}

    <br/>

    <a id="" href="/" onclick="">Home</a>
    <a id="" href="." onclick="">About</a>
    <!--a id="" href="." onclick="">Branches</a-->

    {% if user.is_authenticated %}
        <a id="" href="/dashboard/" onclick="">PR Assistant</a>
        <a href="{% url 'subscriptions' %}">Subscriptions</a>
    {% endif %}
    
    <br/>

    <div class="dashboard_hiding_for_now" style="display:none;">
        <a id="button1" href="#">Grid On</a>
        <a id="button2" href="#">Grid Off</a>
        <a id="button3" href="#">Display LOCCs</a>
        <a id="button4" href="#">Display Commits</a>
    </div>

    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="mt-5 d-inline-box">Log out</a>
    {% else %}
        <a href="{% url 'login' %}" class="mt-5 d-inline-box">Log in</a>
    {% endif %}
    
</div>