{% extends 'dashboard/base.html %}
{% load static %}

{% block content %}
    <h2>Branches</h2><br/>

    Open: <span id="open_branches"></span>
    <br/>
    <br/>
    Feature: <span id="feature_branches"></span>
    <br/>
    <br/>
    Created: <span id="created_branches"></span>
    <br/>
    <br/>
    Deleted: <span id="deleted_branches"></span>
    <br/>
    <br/>


    <br/>
    <table id='branches_table' class="table">
        <tbody>
            <tr><th>Name</th><th>Author</th><th>Created</th><th>Deleted</th></tr>
        </tbody>
    </table>
{% enblock content %}


{% block script %}
    <script src="{% static 'js/branches.js' %}"></script>
{% endblock script %}
    