{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<h2>File Explorer</h2><br/>


<b><i>File name:</i></b> {{file}} - <a href="{{project.source_url|slice:"0:-4"}}/blob/{{branch}}/{{file}}" target="_blank">Go to file on GitHub</a><br/>

<br/>

<div style="margin-left:15px; margin-top:0px;">

    <div id="docModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Documentation Helper</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                
                    <p>Suggestions highlighted for file <b><i><span id="dochelpertitle">folder1/arithmetic.py</span></i></b></p>

                    <div class="" style="border:1px solid #ccc; margin-bottom:5px;">

                        <textarea id="dochelper"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="patchbutton" class="btn btn-primary" onclick="patchFile();">
                        Download Patch
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="codeQualityModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Code Quality Helper</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <p>Suggestions highlighted for file <b><i><span id="cqhelpertitle">folder1/arithmetic.py</span></i></b></p>

                    <div class="" style="border:1px solid #ccc; margin-bottom:5px;">

                        <textarea id="cqhelper"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="patchbutton2" class="btn btn-primary" onclick="cqPatchFile();">
                        Download Patch
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="testModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Test File Helper</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <p>Suggestions for test file <b><i><span id="testhelpertitle">folder1/arithmetic.py</span></i></b></p>

                    <div class="" style="border:1px solid #ccc; margin-bottom:5px;">

                        <textarea id="testhelper"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="patchbutton3" class="btn btn-primary" onclick="testPatchFile();">
                        Download Patch
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% if  complete_ignore %}  <!-- level 1 if -->
        <h4>This file (name or extension) is explicitly listed as to be ignored in terms of all analysis.</h4>
    {% else %}
        <h3>Documentation:</h3>
        <div style="margin-left:20px;">
            {% if  documentation.ignore_status %}  <!-- level 2 if -->
                <h4>This file (name or extension) is explicitly listed as to be ignored in terms of documentation checks.</h4>
            {% elif  not documentation.check_status %}
                <h4>This file has no documentation checker currently.</h4>
            {% elif  documentation.doc_status %}
                <h4>This file has correct type of documentation although formatting not checked.</h4>
            {% else %}
                <div style="float:right;">
                    <button class='btn btn-sm btn-primary' onclick='showDocEditor("{{file}}","NA");'>View File in Editor</button>
                </div>
                <h4>This file has missing documentation:</h4>
                <ul>
                    {% for line in documentation.problem_lines %}
                        <li>{{line}}</li>
                    {% endfor %}
                </ul>
            {% endif %}  <!-- level 2 if -->
        </div>

        <h3>Functions/Subroutines defined in file:</h3>
        <table class="table" style="border:1px solid black;margin-left:auto;margin-right:auto;">
          <thead style="text-align:center">
            <tr>
                <th>Signature</th>
            </tr>
          </thead>
          <tbody>
            {% if number_of_functions < 1 %}  <!-- level 2 if -->
                <tr><td colspan='5' style="text-align:center">No functions/subroutines found in file.</td></tr>
            {% else %}
            {% for func in function_table %}

                <!-- 
                <div id="myModal{{forloop.counter}}" class="modal" tabindex="-1">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Docstring</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            
                                <div class="" style="border:1px solid #ccc; margin-bottom:5px;">
                                        <pre>{{func.docstring}}</pre>

                                </div>

                            </div>
                            <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            -->
                <tr>
                    <td><b>{{func}}</b></td>
                {% endfor %}
              {% endif %}  <!-- level 2 if -->
            </tbody>
        </table>

        <h3>Developers:</h3>


        <table class="table" style="border:1px solid black;margin-left:auto;margin-right:auto;">
          <thead style="text-align:center">
            <tr>
                <th style="text-align:left">Author</th>
                <th>Total number of commits</th>
                <th>Total lines changed</th>
                <th>Date of last commit</th>
                <th>Link to last commit</th>
            </tr>
          </thead>
          <tbody style="text-align:center">
            {% for author in dev_table %}
            <tr>
                <td style="text-align:left"><a href="#" onclick="$('#myModal').modal('show');">{{author.author}}</a></td>
                <td>{{author.number_commits}}</td>
                <td>{{author.lines}}</td>
                <td>{{author.most_recent_commit}}</td>
                <td><a href="{{project.source_url|slice:"0:-4"}}/commit/{{author.link}}">Go to commit on GitHub</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if authors_len == 0 %}
            <div class='alert alert-warning'>
            Possible reasons for an empty table:
            <ul>
                <li>File moved/restructured (and not touched since)</li>
                <li>File imported from outside of project (and not touched since)</li>
            </ul>
            </div>
        {% endif %}



        <h3>Change History</h3>

        <a href="{{project.source_url|slice:"0:-4"}}/blame/{{branch}}/{{file}}">Go to file blame on GitHub</a>

        <p>
            <h3>Included in Pull Requests:</h3>

            <table class="table" style="border:1px solid black;margin-left:auto;margin-right:auto;">
              <thead style="text-align:center">
                <tr>
                    <th>PR #</th>
                    <th>Title</th>
                    <th>PR URL</th>
                    <th>PR Issue link</th>
                    
                </tr>
              </thead>
              <tbody style="text-align:center">
                {% for pr in pull_requests %}

                <div id="prModal{{forloop.counter}}" class="modal" tabindex="-1">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">PR Notes</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            
                                <div class="" style="border:1px solid #ccc; margin-bottom:5px;">
                                        <pre>{{pr.notes}}</pre>

                                </div>

                            </div>
                            <div class="modal-footer">

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <tr>
                    <td>{{pr.0}}</td>
                    <td> {{pr.2}}</td>
                    <td><a href="{{pr.1}}">Go to PR on GitHub</a><br/></td>
                    <td>TBD</td>
                    
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </p>

        <p>
            <h3>Related to Issues:</h3>

            In progress.
        </p>

        <p>
            <h3>Interested Parties:</h3>

            In progress.
        </p>

        <br/>
        <br/>
        <br/>
    {% endif %}  <!-- closes complete_ignore -->
</div>



<div id="myModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Docstring</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
                <div class="" style="border:1px solid #ccc; margin-bottom:5px;">
                        <pre id="docstring"/>

                        <!-- Add a button here that will call javascript 
                                The javascript will use $ajax to submit yes/no to the server. 

                                $.ajax({
                                    url: '/dashboard/archeologyresults/', type: 'POST', data: { 'pr': pr, 'filename': filename }, 
                                    success: function (result) {

                                        console.log("success ajax");

                                    }
                                });

                        -->
                </div>

                
            </div>
            <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



{% with pull_requests|last as last %}
    <input id="pr" type="hidden" value="{{last.3}}"/>
{% endwith %}
<input id="project" type="hidden" value="{{ project.pk }}"/>
<input id="branch" type="hidden" value="{{ branch }}"/>

{% endblock content %}


{% block script %}
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror/mode/clike/clike.js' %}"></script>
<script src="{% static 'codemirror/mode/xml/xml.js' %}"></script>
<script src="{% static 'codemirror/mode/python/python.js' %}"></script>
<script src="{% static 'codemirror/mode/fortran/fortran.js' %}"></script>
<script src="{% static 'codemirror/mode/javascript/javascript.js' %}"></script>
<script src="{% static 'codemirror/mode/css/css.js' %}"></script>
<script src="{% static 'codemirror/mode/htmlmixed/htmlmixed.js' %}"></script>
<script src="{% static 'codemirror/addon/edit/matchbrackets.js' %}"></script>
<script src="{% static 'codemirror/addon/hint/show-hint.js' %}"></script>
<script src="{% static 'codemirror/addon/selection/mark-selection.js' %}"></script>
<script src="{% static 'js/pr.js' %}"></script>
<script src="{% static 'js/branches.js' %}"></script>
{% endblock script %}