{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<h2>File Explorer</h2><br/>

<b><i>File name:</i></b> {{file}} - <a href="{{project.source_url|slice:"0:-4"}}/blob/{{branch}}/{{file}}" target="_blank">Go to file on GitHub</a><br/>

<div style="margin-left:15px; margin-top:8px;">

    <h3>Functions/Subroutines defined in file:</h3>

        {% if not supports_callgraph %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              The Call Graph feature is not supported for this project.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endif %}

        {% if not supports_test_hunt %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              The Test Hunt feature is not supported for this project.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endif %}

                <table class="table" style="border:1px solid black;margin-left:auto;margin-right:auto;">
                  <thead style="text-align:center">
                    <tr>
                        <th>Signature</th>
                        <th>Doc String</th>
                        <th>Doc String Comments</th>
                        <th>Call Graph</th>
                        <th>Test Info</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if functions.1 != 'checked' %}
                        <tr><td colspan='5' style="text-align:center">File {{functions.1}}. No analysis done.</td></tr>
                    {% elif not functions_supported %}
                        <tr><td colspan='5' style="text-align:center">No functions/subroutines found in file</td></tr>
                    {% else %}
                    {% for func in functions.0 %}
                    <div id="myModal{{forloop.counter}}" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Docstring</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
                <div class="" style="border:1px solid #ccc; margin-bottom:5px;">
                        <pre>{{func.docstring}}</pre>

                </div>

            </div>
            <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
                    <tr>
                        <td><b>{{func.full_signature}}</b></td>
                        <td style="text-align:center">{% if func.docstring %}<a href="#" onclick="$('#myModal{{forloop.counter}}').modal('show');">Yes</a>

                            
                        {% endif %}
                        </td>

                        <td>{{func.subtype}}
                            {% if functions.1 == 'checked' %}
                                {% for errors in func.result %}
                                    {{errors.0}} ({{errors.1}})<br>
                                {% endfor %}
                            {% else %}
                                {{functions.1}}
                            {% endif %}
                        </td>



                        <td>{% if supports_callgraph %}
                                <!-- [('folder1/arithmetic.py', 'list_sub', 'code'), ('folder1/test_arithmetic.py', 'test_sub', 'test')] -->
                                {% for caller_list in func.callers %}
                                    <a target='_blank' href="{{project.source_url|slice:"0:-4"}}/blob/{{branch}}/{{caller_list.0}}"
                                        >Go to {{caller_list.0}} to find <b><i>{{caller_list.1}}</i></b> on GitHub</a><br/>
<br>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>{% if supports_test_hunt %}
                                <!-- [('folder1/arithmetic.py', 'list_sub', 'code'), ('folder1/test_arithmetic.py', 'test_sub', 'test')] -->
                                {% for caller_list in func.test_info %}
                                    <a target='_blank' href="{{project.source_url|slice:"0:-4"}}/blob/{{branch}}/{{caller_list.0}}"
                                        >Go to {{caller_list.0}} to find <b><i>{{caller_list.1}}</i></b> on GitHub</a><br/>
<br>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>

    <h3>Developers:</h3>


                <table class="table" style="border:1px solid black;margin-left:auto;margin-right:auto;">
                  <thead style="text-align:center">
                    <tr>
                        <th>Author</th>
                        <th>Total number of commits</th>
                        <th>Total lines changed</th>
                        <th>Date of last commit</th>
                        <th>Link to last commit</th>
                    </tr>
                  </thead>
                  <tbody style="text-align:center">
                    {% for author in authors %}
                    <tr>
                        <td><a href="#" onclick="$('#myModal').modal('show');">{{author.author.username}} - {{author.author.email}}</a></td>
                        <td>{{author.number_commits}}</td>
                        <td>{{author.lines}}</td>
                        <td>{{author.most_recent_commit}}</td>
                        <td><a href="{{project.source_url|slice:"0:-4"}}/commit/{{author.link}}">Go to commit on GitHub</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% if authors_len == 0 %}
                    <div class='alert alert-warning'>
                    Possible reasons for an empty table:
                    <ul>
                        <li>File moved/restructured (and not touched since)</li>
                        <li>File imported from outside of project (and not touched since)</li>
                    </ul>
                    </div>
                {% endif %}

    <h3>Change History</h3>

        <a href="{{project.source_url|slice:"0:-4"}}/blame/{{branch}}/{{file}}">Go to file blame on GitHub</a>

    <p>
    <h3>Included in Pull Requests:</h3>

                <table class="table" style="border:1px solid black;margin-left:auto;margin-right:auto;">
                  <thead style="text-align:center">
                    <tr>
                        <th>PR #</th>
                        <th>PR URL</th>
                        <th>PR Issue link</th>
                        <th>Notes</th>
                    </tr>
                  </thead>
                  <tbody style="text-align:center">
                    {% for pr in prs %}

                    <div id="prModal{{forloop.counter}}" class="modal" tabindex="-1">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">PR Notes</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                
                                    <div class="" style="border:1px solid #ccc; margin-bottom:5px;">
                                            <pre>{{pr.notes}}</pre>

                                    </div>

                                </div>
                                <div class="modal-footer">

                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <tr>
                        <td>{{pr.number}}</td>
                        <td><a href="{{pr.url}}">Go to PR on GitHub</a><br/></td>
                        <td>{{pr.issue_url}}</td>
                        <td style="text-align:center">{% if pr.notes %}<a href="#" onclick="$('#prModal{{forloop.counter}}').modal('show');">{{pr.notes_kind}}</a>
                            {% else %}
                            
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>

    <p>
    <h3>Related to Issues:</h3>

    In progress.

    <p>
    <h3>Interested Parties:</h3>

    In progress.



</div>

<div id="myModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Docstring</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
                <div class="" style="border:1px solid #ccc; margin-bottom:5px;">
                        <pre id="docstring"/>

                        <!-- Add a button here that will call javascript 
                                The javascript will use $ajax to submit yes/no to the server. 

                                $.ajax({
                                    url: '/dashboard/archeologyresults/', type: 'POST', data: { 'pr': pr, 'filename': filename }, 
                                    success: function (result) {

                                        console.log("success ajax");

                                    }
                                });

                        -->
                </div>

                
            </div>
            <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<input id="pr" type="hidden" value="{{ pr.pk }}"/>

{% endblock content %}


{% block script %}
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror/mode/clike/clike.js' %}"></script>
<script src="{% static 'codemirror/mode/xml/xml.js' %}"></script>
<script src="{% static 'codemirror/mode/python/python.js' %}"></script>
<script src="{% static 'codemirror/mode/javascript/javascript.js' %}s"></script>
<script src="{% static 'codemirror/mode/css/css.js' %}"></script>
<script src="{% static 'codemirror/mode/htmlmixed/htmlmixed.js' %}"></script>
<script src="{% static 'codemirror/addon/edit/matchbrackets.js' %}"></script>
<script src="{% static 'codemirror/addon/hint/show-hint.js' %}"></script>
<script src="{% static 'codemirror/addon/selection/mark-selection.js' %}"></script>
<script src="{% static 'js/pr.js' %}"></script>
<script src="{% static 'js/branches.js' %}"></script>
{% endblock script %}