{% extends 'dashboard/base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/fileTreeStyle.css' %}">
{% endblock stylesheets %}
{% block content %}
{% csrf_token %}
<h2>Folder Explorer</h2><br/>

<b><i>Folder:</i></b> {{folder}} - <a href="{{project.source_url|slice:"0:-4"}}/tree/{{branch}}/{{folder}}" target="_blank">Go to folder on GitHub</a><br/>
<b><i>Branch:</i></b> {{branch}} <br/>

<div style="margin-left:15px; margin-top:15px;">

    <h3>TODO</h3>


    {% if not supports_callgraph %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          The Call Graph feature is not supported for this project.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </button>
        </div>
    {% endif %}

    {% if not supports_test_hunt %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          The Test Hunt feature is not supported for this project.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </button>
        </div>
    {% endif %}

    <!-- FILE TREE -->
    <section id="file-tree-container">
        <div id="file-tree"></div>
        <div id="panel">
            <div>
                <p id="detail">Click on a file/directory to see details</p>
                <span id="path"></span>
                <span><a title="Go to file in file explorer" href="#"><img class="post-label-icon" id="hyperlink-icon"
                            src="/static/images/hyperlink-icon.png" style="visibility: hidden;"></img></a></span>
            </div>
            <div id="panel-metrics" class="my-4">
                <p class="metric"><img src="/static/images/documentation-icon.png" alt="linter"
                        class="metric-icon">Documentation (<span id="documentation-metric">0</span>%)</p>
                <div class="panel-bar"><span id="documentation-bar"></span></div>

                <p class="sub-metric">Missing documentation (<span id="missing-docs-metric">0</span>%)</p>
                <div class="panel-bar panel-sub-bar">
                    <div id="missing-docs-bar"></div>
                </div>

                <p class="sub-metric">Documentation issues (<span id="non-doxy-docs-metric">0</span>%)</p>
                <div class="panel-bar panel-sub-bar">
                    <div id="non-doxy-docs-bar"></div>
                </div>

                <p class="metric"><img src="/static/images/bus-factor-icon.png" alt="linter" class="metric-icon"> Bus Factor
                    (N/A)</p>
                <div class="panel-bar under-development-wrapper"><span id="bus-factor-bar"></span><span
                        class="under-development">Under Development</span></div>

                <p class="metric"><img src="/static/images/linter-icon.png" alt="linter" class="metric-icon"> Linter issues
                    (<span id="linter-metric">0</span>%)</p>
                <div class="panel-bar"><span id="linter-bar"></span></div>
            </div>

            <div>
                <a id="panel-subscribe-btn" class="btn btn-primary d-inline my-4" style="visibility: hidden;">Notify on
                    pull request</a>
            </div>
        </div>
    </section>
    <!-- END FILE TREE -->

    <div id="docModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Documentation Helper</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                
                    <p>Suggestions highlighted for file <b><i><span id="dochelpertitle">folder1/arithmetic.py</span></i></b></p>

                    <div class="" style="border:1px solid #ccc; margin-bottom:5px;">

                        <textarea id="dochelper"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="patchbutton" class="btn btn-primary" onclick="patchFile();">
                        Download Patch
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="codeQualityModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Code Quality Helper</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <p>Suggestions highlighted for file <b><i><span id="cqhelpertitle">folder1/arithmetic.py</span></i></b></p>

                    <div class="" style="border:1px solid #ccc; margin-bottom:5px;">

                        <textarea id="cqhelper"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="patchbutton2" class="btn btn-primary" onclick="cqPatchFile();">
                        Download Patch
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="testModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Test File Helper</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <p>Suggestions for test file <b><i><span id="testhelpertitle">folder1/arithmetic.py</span></i></b></p>

                    <div class="" style="border:1px solid #ccc; margin-bottom:5px;">

                        <textarea id="testhelper"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="patchbutton3" class="btn btn-primary" onclick="testPatchFile();">
                        Download Patch
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




    <br/>
    <br/>
    <br/>

</div>



<div id="myModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Docstring</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
                <div class="" style="border:1px solid #ccc; margin-bottom:5px;">
                    <pre id="docstring"/>
                </div>
                
            </div>
            <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



{% with prs|last as last %}
    <input id="pr" type="hidden" value="{{last.id}}"/>
{% endwith %}
<input id="project" type="hidden" value="{{ project.pk }}"/>
<input id="branch" type="hidden" value="{{ branch }}"/>

{{ files|json_script:"files" }}

{% if results|length %}
    {{ results|json_script:"results" }}
{% endif %}

{% endblock content %}


{% block script %}
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror/mode/clike/clike.js' %}"></script>
<script src="{% static 'codemirror/mode/xml/xml.js' %}"></script>
<script src="{% static 'codemirror/mode/python/python.js' %}"></script>
<script src="{% static 'codemirror/mode/fortran/fortran.js' %}"></script>
<script src="{% static 'codemirror/mode/javascript/javascript.js' %}"></script>
<script src="{% static 'codemirror/mode/css/css.js' %}"></script>
<script src="{% static 'codemirror/mode/htmlmixed/htmlmixed.js' %}"></script>
<script src="{% static 'codemirror/addon/edit/matchbrackets.js' %}"></script>
<script src="{% static 'codemirror/addon/hint/show-hint.js' %}"></script>
<script src="{% static 'codemirror/addon/selection/mark-selection.js' %}"></script>
<script src="{% static 'js/pr.js' %}"></script>
<script src="{% static 'js/branches.js' %}"></script>
<script src="{% static 'js/fileTree.js' %}"></script>
<!-- <script src="{% static 'js/tree.min.js' %}"></script>
<script src="{% static 'js/treeUtilities.js' %}"></script>
<script src="{% static 'js/fileExplorer.js' %}"></script> -->
{% endblock script %}