{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

    <h2>Project: <i>{{project.name}}</i></h2>
    <i>Last updated: {{project.last_updated|date:'Y-m-d'}} {{project.last_updated|time:'h:i a'}}</i>

    <div style="float:right;">

        <a href="/dashboard/prlist/{{project.id}}" class="btn btn-sm btn-primary">View Pull Requests</a>

        <a href="/dashboard/folderx/{{project.id}}?branch=main&folder=/" class="btn btn-sm btn-primary">Repo Explorer</a>

        <button id="refreshbutton" class="btn btn-sm btn-primary"  onclick="refreshProject();">
            <div id="spinner" class="spinner-border spinner-border-sm" role="status" style="display:none;">
            </div> Refresh Project
        </button>
        
        {% if show_whitelist %}
        {% comment "whitelist is not found" %}
            <a class="btn btn-sm btn-primary" href="{% url 'whitelist' pk=project.id %}" role="button">whitelist</a>
        {% endcomment %}
        {% endif %}
            
    </div>

    <br/>
    <br/>
    <br/>

    <b>Project Stats</b><br/>

    <div class="card">
        <div class="card-body">

            <div class="row" style="margin-top:6px;">
                <div class="col-sm-3"><u>Project Files</u>:</div> 
                <div class="col-sm-9">{{files}}</div>
            </div>

            <div class="row" style="margin-top:6px;">
                <div class="col-sm-3"><u>Lines of Code</u>:</div> 
                <div class="col-sm-9">
                    Python: {{pythonloc}}<br/>
                    C/C++: {{cloc}}<br/>
                    Fortran: {{fortranloc}}<br/>
                </div>
            </div>

            <div class="row" style="margin-top:6px;">
                <div class="col-sm-3"><u>Commits</u>:</div> 
                <div class="col-sm-9">{{commits|length}}</div>
            </div>

            <div class="row" style="margin-top:6px;">
                <div class="col-sm-3"><u>Pull Requests</u>:</div> 
                <div class="col-sm-9">{{prs|length}}</div>
            </div>

            <div class="row" style="margin-top:6px;">
                <div class="col-sm-3"><u>Issues</u>:</div> 
                <div class="col-sm-9">{{issues|length}}</div>
            </div>
        </div>
    </div>

    <br/>

    <b>Recent Activity</b><br/>

    <div class="card">
        <div class="card-body">
            <b>Commit</b> {{commits.0.hash|slice:"32:40"}}<br/>
            <b>Branch</b> {{commits.0.branch}} <br/>
            <b>Date</b> {{commits.0.datetime}}<br/>
            <b>Author</b> {{commits.0.author.email}}<br/>
            {{commits.0.message}}
        </div>
    </div>

    <br/>

    <div class="card">
        <div class="card-body">
            <b>Pull Request</b> {{prs.0.created_at}}<br/>
            <b>Author</b> {{prs.0.author.email}}<br/>
            <b>Title</b> {{prs.0.title}}<br/>
            {{prs.0.description|slice:":60"}}{% if prs.0.description|length|get_digit:"-1" > 60 %}...{% endif %}
        </div>
    </div>

    <br/>

    <div class="card">
        <div class="card-body">
            <b>Issue</b> {{issues.0.created_at}}<br/>
            <b>Author</b> {{issues.0.author.email}}<br/>
            <b>Title</b> {{issues.0.title}}<br/>
            {{issues.0.description|slice:":60"}}{% if issues.0.description|length|get_digit:"-1" > 60 %}...{% endif %}
        </div>
    </div>

    <br/>
    <br/>
    <br/>

    <input id="project" type="hidden" value="{{ project.pk }}"/>

{% endblock content %}



{% block script %}
<script src="{% static 'js/project.js' %}"></script>
{% endblock script %}