{% extends 'dashboard/base.html' %}
{% load static %}


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
{% endblock stylesheets %}

{% block content %}
<h2>Subscriptions</i></h2>
<p>Select the files or directories in which you are interested. You will get notified about their changes.</p>

<section id="path-selector" class="border rounded">
    <div class="p-3">
        <div class="mb-3">
            <label for="project-select" class="form-label">Project</label>
            <select id="project-select" class="form-select">
                <option disabled selected value>Select a project</option>
                {% for project_name in project_names %}
                    <option value="{{ project_name }}">{{ project_name }}</option>
                {% endfor %}
            </select>  
        </div>
        <div id="tree-view" class="mb-3"></div>
        <form action="{% url 'subscriptions' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="subscriptions" id="subscriptions-input" hidden />
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</section>

{{ files|json_script:"files" }}
{{ subscriptions|json_script:"subscriptions" }}
{% endblock content %}


{% block script %}
<script src="{% static 'js/tree.min.js' %}"></script>
<script src="{% static 'js/subscriptions.js' %}"></script>
{% endblock script %}   