{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div id="home" class="main" style="padding:50px 50px 0px 50px;">

    <h2>Pull Request Assistant</h2><br/>


    <b>List of all projects:</b><br/>


    <table class="table">
        <tr>
            <th>Name</th>
            <th>Last Updated</th>
            <th>URL</th>
        </tr>
        {% for project in projects %}
        <tr>
            <td><a href="/dashboard/project/{{project.id}}">{{project.name}}</a></td>
            <td>{{project.last_updated|date:'Y-m-d'}} {{project.last_updated|time:'h:i a'}}</td>
            <td><a target="_blank" href="{{project.url}}">{{project.source_url}}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<script src="{% static 'js/index.bundle.js' %}"></script>
{% endblock content %}