{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<div id="home" class="main" style="padding:50px 50px 0px 50px;">

    <h2>Pull Request Assistant</h2><br/>


    <button id="refreshbutton" class="btn btn-sm btn-primary" style="float:right;" onclick="refreshProject();">
        <div id="spinner" class="spinner-border spinner-border-sm" role="status" style="display:none;">
        </div> Refresh Project
    </button>

    <b>Pull Requests for <i>{{project.name}}</i>:</b><br/>	
    <table class="table">
        <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Date</th>
            <th>URL</th>
        </tr>
        {% for pr in prs %}
        <tr>
            <td><a href="/dashboard/pr/{{pr.id}}">{{pr.number}}</a></td>
            <td>{{pr.title}}</td>
            <td>{{pr.created_at|date:'Y-m-d'}}</td>
            <td><a target="_blank" href="{{pr.url}}">{{pr.url}}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<script src="{% static 'js/index.bundle.js' %}"></script>
{% endblock content %}