

.styled-background { background-color: #ff7; }

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    font-size: 16px;
    color: #818181;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.all_links {
    stroke: #999;
    stroke-opacity: 0.7;
}
.all_nodes {
    stroke: #fff;
    stroke-width: 1.5px;
}
.domain {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: round;
}
.halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 8px;
    stroke-linecap: round;
}
.tick {
    font-size: 12px;
}
.selecting circle {
    fill-opacity: .2;
}
.selecting circle.selected {
    stroke: #f00;
}
.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: pointer;
}

#cy {
    width: 85%;
    height: 80%;
}

.errorlist {
    list-style-type: none;
    color: #cc0000;
    padding: 0;
}

.errorlist li {
    font-size: small;
    padding: .5rem 0;
}

.oauth-login {
    line-height: 2rem;
}

#octocat {
    background: url('/static/images/GitHub-Mark-Light-32px.png') no-repeat;
    background-size: 28px 28px;
    padding: 3px 16px;
    margin-left: 10px;
}

#gitlab-icon {
    background: url('/static/images/gitlab-logo-700.png') no-repeat;
    background-size: 48px 48px;
    padding: 12px 20px;
}